#This is a htaccess file

RewriteEngine On	#The Server Engine is turned on

DirectoryIndex index.php	#Setting a file to be the index file.

RewriteRule ^(dashboard)$ index.php
RewriteRule ^(published)$ published_posts.php
RewriteRule ^(add_post)$ add_post.php
RewriteRule ^(pending)$ pending_posts.php
RewriteRule ^(drafts)$ draft_posts.php
RewriteRule ^(trash)$ trash.php
RewriteRule ^(add_author)$ add_writer.php
RewriteRule ^(add_subject)$ add_category.php
RewriteRule ^(logout)$ logout.php
RewriteRule ^(login)$ login.php

RewriteRule ^(edit)$ edit_post.php
RewriteRule ^(delete)$ delete_post.php
RewriteRule ^(restore)$ restore_post.php
RewriteRule ^(move_draft)$ move_to_draft.php
RewriteRule ^(delete_permanently)$ delete_permanently.php
